<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div class = "contenido">
            <h2 th:text ="#{categoria.titulo}">Datos de categoria</h2>
            <a th:href ="@{/categoria/listado}" th:text ="#{accion.regresar}">Regresar</a>
            <br/>
            <form th:action="@{/categoria/guardar}" method="post" th:object ="${categoria}">
                <input type="hidden" name="idCategoria" th:field="*{idCategoria}"/>
                <label for="descripcion" th:text="#{categoria.descripcion}" >Descripcion:</label>
                <input type="text" name="descripcion" th:field="*{descripcion}"/>
                <br/>  
                <label for="activa" th:text="#{categoria.activo}" >Activa</label>
                <input type="checkbox" name="activo" th:field="*{activo}"/>
                <br/> 
                <br/> 
                <button type="submit" name="guardar" th:field="*{accion.guardar}"/>
            </form>
        </div>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
